body {
    text-align: center;
    margin: 0;
}

section {
    min-height: 50vh;
    width: 500px;
    text-align: center;
    margin: 80px auto;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding: 15px;
}

form {
    border: solid 1px black;
    border-radius: 25px;
    padding: 55px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
    font-size: 18px;
}

ul li {
    margin-right: 20px;
    /* Espacio entre elementos */
}

a {
    color: inherit;
}

a:hover {
    color: blue;
}

span {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    gap: 50px;
    background-color: rgb(58, 178, 233);
    font-size: 15px;
}

#datos {
    margin: auto 0;
}